<h2>Reporter output</h2><table><tr><td>Expected product name = Sony 59.9 cm (24 inches) Bravia KLV-24P413D HD Ready LED TV (Black) AND price =   14,490</td></tr>
<tr><td>Actul product name = Sony 59.9 cm (24 inches) Bravia KLV-24P413D HD Ready LED TV (Black) AND price = By.cssSelector: .a-size-medium.a-color-price.sc-price.sc-white-space-nowrap.sc-product-price.sc-price-sign.a-text-bold>span</td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="pass"><span class="pass-label">P </span>Expected product name text should be Sony 59.9 cm (24 inches) Bravia KLV-24P413D HD Ready LED TV (Black) : Actual product name text is Sony 59.9 cm (24 inches) Bravia KLV-24P413D HD Ready LED TV (Black) <a href="../img/verifyProduct_ckfbe88z8n2m4074.png" target="_blank">[View Screenshot]</a> </div><div  class="fail"><span class="fail-label">F </span>
Expected: &lt;true&gt;
     Actual: was &lt;false&gt; <a href="../img/verifyProduct_c137j8znr1404075.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
</table>